<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC1UP8Ecy1bNYbW5Q1_DHYJ3Z_n4us6h9E</string>
	<key>GCM_SENDER_ID</key>
	<string>545626786844</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pk.planit</string>
	<key>PROJECT_ID</key>
	<string>planit-23ccf</string>
	<key>STORAGE_BUCKET</key>
	<string>planit-23ccf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:545626786844:ios:9f4983353d0bb75526e3d9</string>
</dict>
</plist>